<div>
	<div class="container" ng-controller="loginController">
		<form id="login" class="form-login">
			<h2 class="form-login-heading">Please log in</h2>
			<input id="username" type="text" name="username" placeholder="Username" autofocus="autofocus" class="form-control" ng-model="user.name"/>
			<input id="password" type="password" name="password" placeholder="Password" class="form-control" ng-model="user.password"/>
			<button ng-click="login()" class="btn btn-lg btn-block btn-primary">Login</button>
		</form>
	</div>
</div>
