<div class="container">
	<form id="login" action="/auth/login" method="post" class="form-login">
		<h2 class="form-login-heading">Please log in</h2>
		<input id="username" type="text" name="username" placeholder="Username" autofocus="autofocus" class="form-control"/>
		<input id="password" type="password" name="password" placeholder="Password" class="form-control"/>
		<label class="checkbox"><input type="checkbox" name="remember"/>Remember me</label>
		<button type="Submit" class="btn btn-lg btn-block btn-primary">Login</button>
	</form>
</div>